# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Output
dist/
build/
coverage/
.tmp/
.cache/
.next/
out/

# Environment variables
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
logs/
*.log
*.gz

# Testing
.jest/
.nyc_output/
coverage/

# Optional: if using TypeScript
*.tsbuildinfo

# Misc
*.tgz
*.zip
*.bak
*.orig
